@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 40 20% 99%;
        --foreground: 150 10% 10%;
        --card: 0 0% 100%;
        --card-foreground: 150 10% 10%;

        --popover: 0 0% 100%;
        --popover-foreground: 150 10% 10%;

        --primary: 160 84% 39%;
        --primary-foreground: 0 0% 100%;


        --secondary: 150 20% 96%;
        --secondary-foreground: 160 84% 39%;

        --muted: 150 10% 96%;
        --muted-foreground: 150 5% 45%;

        --accent: 150 20% 96%;
        --accent-foreground: 160 84% 39%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;


        --border: 150 10% 90%;
        --input: 150 10% 90%;
        --ring: 160 84% 39%;

        --radius: 0.75rem;
    }

    .dark {
        --background: 160 50% 3%;
        --foreground: 150 10% 98%;

        --card: 160 50% 5%;
        --card-foreground: 150 10% 98%;

        --primary: 160 60% 45%;
        --primary-foreground: 144 0% 100%;

        --muted: 160 30% 15%;
        --muted-foreground: 150 10% 65%;

        --border: 160 30% 15%;
        --input: 160 30% 15%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}